
#wrapper{
    background-color: #1D1D1D;
}
.nav-link{
    color: #38DE03;
}
.jumbotron{
    background-color: #1D1D1D;
    color: #E6E6E6;
    padding-top: 30px;
}
.nctimg{
    white-space: nowrap;
    max-width: 383px;
    height: auto;
    display: inline;
    margin: 5px;
    padding: 0px;
}
.nctimg2{
    white-space: nowrap;
    max-width: 380px;
    height: auto;
    display: inline;
    margin: 5px;
    padding: 0px;
}
.nctimg3{
    white-space: nowrap;
    max-width: 450px;
    height: auto;
    display: inline;
    margin: 5px;
    padding: 0px;
}
.card-body{
    background-color: #1D1D1D;
}
